#title {
  font-size: 200%;
text-align: center;
text-decoration: underline;
  padding: 0px 0px 20px 0px;
}

/*Banner*/
#ba-title{
text-align: center; 
margin: auto;
  text-decoration: underline;
  font-size: 200%;
}

#picture {
  margin:auto;
  text-align: center;
  position: relative;
  border: 4px solid black;
 height: 250px;
  width:300px;
  /* 
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 1px;
  word-wrap: break-word;
  border: 4px solid black;
  width: 1400px;
  margin: auto;
  */
  
}
/*#picture_word{
  text-align: left;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  width: 550px;
  
}*/

.img-text{
position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  color: black;
  width: 100%;
  font-size: 130%;
    font-family: 	cursive;
  text-decoration: underline;
}

#tree {
  width: 300px;
  height: 250px;

}

/*Brochure*/

/*
tr, td {
text-align: center;
margin: auto;
border: 4px solid black; 
width: 1500px;
height: 600px;
border-collapse: collapse;
font-size: 120%;
}
*/

#br-title {
  text-align: center; 
  margin: auto; 
  text-decoration: underline;
    font-size: 200%;
  
}

#brochure {
text-align: center;
}

.inside_D, .inside_R {
vertical-align: top;
text-align: top;
margin: auto;
border: 4px solid black; 
max-width: 428px;
width: 428px;
height: 600px;
border-collapse: collapse;
font-size: 25px;
text-wrap: break-word;
padding: 3px 3px 3px 3px;
}

.outside_D, .outside_R {
vertical-align: top;
text-align: center;
margin: auto;
border: 4px solid black;
max-width: 428px;
width: 428px;
height: 1200px;
border-collapse: collapse;
font-size: 25px;
text-wrap: break-word;
padding: 3px 3px 3px 3px;
}


#broTableInside {
text-align: center;
margin: auto;
border: 4px solid black; 
max-width: 1300px;
width: 1300px; 
height: 600px;
border-collapse: collapse;
font-size: 120%;
text-wrap: break-word
}

#broTableOutside {
text-align: center;
margin: auto;
border: 4px solid black; 
max-width: 1300px;
width: 1300px; 
height: 600px;
border-collapse: collapse;
font-size: 120%;
text-wrap: break-word;
}


p.brochure {
font-size: 250%;
text-decoration: underline;
}

/* ===| Title |===*/

#titlePage {
border: 6px solid red;
vertical-align: middle;
text-align: right;
}

#titlePageText {
border: 3px solid green;
max-height: 200px;
max-width: 200px;
text-align: center;
}

/*Front*/

.col1.inside {
background-color: blue;
}

.col2.inside {
background-color: red;
}

.col3.inside {
background-color: green;
}


/*Back*/

.col1.outside {
background-color: lightblue;
}

.col2.outside {
background-color: pink;
}

.col3.outside {
background-color: lightgreen;
}

.inside {

}


.outside {

}


.frontPage {

}

.backPage {

}
/*
#brochure {

border: 2px solid black;
height: 900px;
width: 1300px;
text-align: center; 
margin: auto;
}
*/

/*Bill Board*/

#bb-title {
  text-align: center;
  margin: auto;
  font-size: 200%;
  text-decoration: underline;
}

#billboard {
  border: 4px solid black;
  height: 500px; 
  width: 700px;
  text-align: center;
  margin: auto;
  position: relative;
}

#board-img { 
  height: 500px;
  width: 700px;
}


.board-text {
position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  width: 475px;
  font-size: 330%;
/*  border: 2px solid black;
*/
}

.board-link {
position: absolute;
  bottom: 1%;
  left: 1%;
/*  transform: translate(-50%); */
  color: white;
  font-size: 150%;
/*  border: 2px solid black;
*/
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
